*{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    color: #544b2700;  
    background: radial-gradient(circle at 15% 10%, gray, transparent 35%), linear-gradient(#e7c381, #dca238);
}

h1{
    text-align: center;
    color: rgb(85, 85, 64);
    margin:0; font-family:'Courier New', Courier, monospace;
}

.folder-image{
    width: 100%;
    display: block;
    filter: drop-shadow(0 18px 20px rgba(0, 0, 0, 0.45));
}

.folder-wrap{
    border: none;
    background: transparent;
    display: block;
    width: min(530px, 80vw);
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    animation: pulse 2.8s infinite;
    transition: transform 0.2s;
}

.folder-wrap:hover{
    animation: none;
    transform:translateY(-4px);
}

@keyframes pulse{
    0%, 100% {
        transform: translateY(0);
    }
    50%{
        transform:translateY(-5px);
    }
}

.page {
    width: min(1100px, 95vw);
    margin: 0 auto; 
    padding:24px 12px 40px;
}

.folder-label{
    position: absolute;
    right:10%;
    bottom: 18%;
    background:rgb(216, 209, 137);
    border: 1px dashed rgba(103, 39, 39, 0.799);
    padding: 6px 10px;
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
}

.subtitle{
    text-align: center;
    color: rgb(85, 85, 64);
    margin:10px 0 24px;
}

.board{
    margin-top:16px;
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 14px;
}

.left-panel{
    border: 2px solid rgba(165, 104, 42, 0.874);
    border-radius: 10px;
    background: linear-gradient(120deg, #e8ddc1, #e7ddc6);
    box-shadow: 0 12px 26px rgb(14, 14, 14);
    padding: 12px;
}

.left-panel h2{
    margin: 4px 0 10px;
    font-family:'Courier New', Courier, monospace;
    color: rgb(85, 85, 64);
}

.tab{
    width: 100px;
    margin: 6px 0;
    padding: 10px;
    border: 1px solid rgba(149, 117, 85, 0.874);
    border-radius: 7px;
    background: rgb(232, 197, 157);
    text-align: left;
    cursor: pointer;
}
.tab.active{
    background: #c4ab79;
}

.hidden{
    display:none;
}